<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.r7.core.job.mapper.CoreJobMapper">

    <select id="pageJob" resultType="com.r7.core.job.vo.CoreJobVo">
        select id, app_id, job_name, job_code, content, job_rule, winner_num, status, on_shelf, off_shelf
        from core_job
        <where>
            <if test="search!=null and search!=''">
                job_name like concat(concat('%',#{search}),'%')
                or
                job_code like concat(concat('%',#{search}),'%')
                or
                status=#{search}
            </if>
        </where>
    </select>

    <select id="pageCurrentJob" resultType="com.r7.core.job.vo.CoreJobVo">
        select id, app_id, job_name, job_code, content, job_rule, winner_num, status, on_shelf, off_shelf
        from core_job
        <where>
            app_id=#{appId}
            or
            app_id=#{platformAppId}
        </where>
    </select>

</mapper>