<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.r7.core.uim.mapper.UimSysUserMapper">
    <select id="findUserDetailsByLogin" resultType="com.r7.core.uim.vo.UimUserDetailsVO">
        SELECT id, organ_id, app_id,user_name, login_name, password, status,del FROM uim_user
        WHERE  login_name =#{login}
    </select>
</mapper>