<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="destination" source="logstash.destination"/>
    <springProperty name="logstashEnabled" source="logstash.enable"/>
    <springProperty name="appName" source="spring.application.name"/>
    <springProperty name="env" source="spring.profiles.active"/>
       
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <if condition='property("logstashEnabled").equalsIgnoreCase("true")'>
        <then>
            <appender name="LOGSTASH"
                      class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${destination}</destination>
                <encoder
                        class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>{"logenv":"${env}","appname":"${appName}"}</customFields>
                </encoder>
            </appender>
        </then>
    </if>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>


    <root level="INFO">
        <if condition='property("logstashEnabled").equalsIgnoreCase("true")'>
            <then>
                <appender-ref ref="LOGSTASH"/>
            </then>
        </if>
        <appender-ref ref="CONSOLE"/>
    </root>
    <!--过滤不必要的日志-->
<!--    <logger name="com.alibaba" level="ERROR"/>-->
<!--    <logger name="org.springframework" level="ERROR"/>-->
<!--    <logger name="org.apache" level="ERROR"/>-->
</configuration>